In [63]:
import pandas as pd
import numpy as np
import torch

In [64]:
np.random.poisson(100, 10)

array([ 89,  85, 110,  90, 106, 113, 112,  92, 117,  70])

In [65]:
o_df = pd.read_csv("../sample/OUTCOME_COHORT.csv")

In [66]:
o_df.head(5)

,COHORT_DEFINITION_ID,SUBJECT_ID,COHORT_START_DATE,COHORT_END_DATE,LABEL
0,1,47715145949628715,2036-04-11 10:04:00,2036-04-11 11:00:00,0
1,1,47715145949628715,2036-04-11 10:04:00,2036-04-11 12:00:00,0
2,1,47715145949628715,2036-04-11 10:04:00,2036-04-11 13:00:00,0
3,1,47715145949628715,2036-04-11 10:04:00,2036-04-11 14:00:00,0
4,1,47715145949628715,2036-04-11 10:04:00,2036-04-11 15:00:00,0

In [71]:
m = torch.distributions.normal.Normal(0.3, 0.1)
m_list = m.sample([len(o_df)]).tolist()

In [72]:
o_df["LABEL_PROBABILITY"] = m_list

In [75]:
o_df.loc[o_df["LABEL_PROBABILITY"] > 0.5, "LABEL"] = 1
o_df.loc[o_df["LABEL_PROBABILITY"] <= 0.5, "LABEL"] = 0

In [76]:
o_df.head(10)

,COHORT_DEFINITION_ID,SUBJECT_ID,COHORT_START_DATE,COHORT_END_DATE,LABEL,LABEL_PROBABILITY
0,1,47715145949628715,2036-04-11 10:04:00,2036-04-11 11:00:00,0,0.361860
1,1,47715145949628715,2036-04-11 10:04:00,2036-04-11 12:00:00,0,0.434074
2,1,47715145949628715,2036-04-11 10:04:00,2036-04-11 13:00:00,0,0.485477
3,1,47715145949628715,2036-04-11 10:04:00,2036-04-11 14:00:00,1,0.553910
4,1,47715145949628715,2036-04-11 10:04:00,2036-04-11 15:00:00,1,0.528525
5,1,47715145949628715,2036-04-11 10:04:00,2036-04-11 16:00:00,1,0.511946
6,1,47715145949628715,2036-04-11 10:04:00,2036-04-11 17:00:00,1,0.512680
7,1,47715145949628715,2036-04-11 10:04:00,2036-04-11 18:00:00,0,0.440657
8,1,47715145949628715,2036-04-11 10:04:00,2036-04-11 19:00:00,0,0.399587
9,1,47715145949628715,2036-04-11 10:04:00,2036-04-11 20:00:00,1,0.525257